<header class="header">
  <!-- First Line -->
  <div class="top-bar">
    <div class="logo hover:text-blue-900 transition-colors duration-150" routerLink="/">
      <span>Shop Name</span>
    </div>

    <div class="search-bar">
      <input
        type="text"
        placeholder="Search products..."
        [(ngModel)]="searchTerm"
        (keyup.enter)="onSearch()" />
      <button type="button" (click)="onSearch()">🔍</button>
    </div>

    <div class="flex items-center gap-4">
      @if (authService.isAdmin$ | async) {
        <a routerLink="/admin" class="profile-link">{{ authService.userName$ | async }}</a>
      } @else {
        <a routerLink="/profile" class="profile-link">{{ authService.userName$ | async }}</a>
      }
    
      @if (authService.isLoggedIn$ | async) {
        <a class="profile-link cursor-pointer relative group" routerLink="/wishlists">
          <mat-icon class="text-red-500">favorite</mat-icon>
          <span 
          class="absolute left-1/2 -translate-x-1/2 top-full mt-1 bg-gray-800 text-white text-xs rounded-md px-2 py-1 opacity-0 group-hover:opacity-100 transition-opacity duration-200">
          Wishlist
        </span>
      </a>
      <a class="profile-link cursor-pointer relative group" routerLink="/cart">
      <mat-icon class="text-white">shopping_cart</mat-icon>
        <span 
          class="absolute left-1/2 -translate-x-1/2 top-full mt-1 bg-gray-800 text-white text-xs rounded-md px-2 py-1 opacity-0 group-hover:opacity-100 transition-opacity duration-200">
          ShoppingCart
        </span>
      </a>
        
        
        <a class="profile-link cursor-pointer" (click)="logout()">Logout</a>
      } @else {
        <a class="profile-link cursor-pointer" routerLink="/login">Login</a>
        <a class="profile-link cursor-pointer" routerLink="/register">Register</a>
      }
    </div>
    
    
  </div>

  <!-- Second Line -->
  @if (authService.isLoggedIn$ | async) {
    <nav class="category-menu">
      <ul>@for (category of categoryList; track category._id) {
          <li (click)="searchCategory(category._id!)" class="cursor-pointer" ><a>{{category.name}}</a></li>
      }
      </ul>
    </nav>
  }
</header>