<div class="border border-gray-300 rounded-lg overflow-hidden
 shadow-lg font-sans h-full flex flex-col" [routerLink]="'/products/'+ product._id" >
    <img 
      [src]="product.images[0]" 
      alt="Product Image" 
      class="w-full h-32 object-cover"
    />
    <div class="p-2 flex flex-col flex-grow">
      <h2 class="text-lg font-semibold mb-1">{{ product.name }}</h2>
      <p class="text-gray-600 text-xs mb-2 line-clamp-2">
        {{ product.shortDescription }}
      </p>
      <div class="flex justify-between items-center mt-auto">
        <div class="flex flex-col">
          <span class="text-black text-sm font-semibold">Cost: {{ sellingPrice }}</span>
          <span class="text-gray-400 line-through text-xs font-semibold">MRP:{{ product.price }}</span>
          <span class="text-red-400 text-xs font-semibold">({{ product.discount }}%off)</span>
        </div>
        <button mat-flat-button color="primary" class="!text-xs">
          Add to Cart
        </button>
      </div>
    </div>
  </div>